/** member center index **/
.member-center{padding: 40px 30px;}
.member-center>h2{font-style:normal;}
.member-center ul.fun-list {margin-top:10px;}
.member-center .fun-list>li {    margin: 0;padding-top:15px;padding-bottom:15px;border-bottom: 1px solid #ccc;background: #f6f6f6;}
.member-center .fun-list>li.odd {background: #fff;}
.member-center h3 {color: #c71718;font-size: 14px;padding: 0 30px;margin: 8px 0;}
.member-center ul.fun-list li ul{margin: 0 30px;display:inline-block;}
.member-center ul.fun-list li ul li {float:left;font-size: 12px;background: url(../images/member_icon.png) no-repeat 0 0;height:33px;padding-left:35px;width:350px;;display:inline-block; }
.member-center ul.fun-list li ul li p{color:#555;line-height:20px;}
.member-center ul.fun-list li ul li h4{color: #444;font-size:12px;font-style:normal;}
.member-center ul.fun-list li ul li h4 span{text-decoration: underline;font-style:none;}
.member-center ul.fun-list li ul li.info{background: none;width:100%;height:auto;padding-left:0;}
.member-center ul.fun-list li ul li.fn-find{background-position: 0 0px}
.member-center ul.fun-list li ul li.fn-coupon{background-position: 0px -33px}
.member-center ul.fun-list li ul li.fn-log{background-position: 0px -66px}
.member-center ul.fun-list li ul li.fn-support{background-position: 0px -99px}
.member-center ul.fun-list li ul li.fn-account{background-position: 0px -132px}
.member-center ul.fun-list li ul li.fn-passwd{background-position: 0px -165px}
.member-center ul.fun-list li ul li.fn-watchlist{background-position: 0px -198px}

.member-main{padding: 30px 40px;}
ul.member-menu{float:left;display: inline-block;width: 100px;margin: 0;border: 1px solid #ddd;text-align: left;}
ul.member-menu li span{width: 100%;height: 28px;line-height: 28px;text-indent: 12px;font-size: 14px;background: #666;color: #fff;display: block;}
ul.member-menu li ul{ border: 0;}
ul.member-menu a {margin-left:10px;line-height: 23px;text-indent: 12px;font-size:11px;display: block;width: 100%;height: 100%;padding: 0;background: url(../images/orders-sprite.png) no-repeat left 9px;}
ul.member-menu a.selected{ background-position: left -41px;color: #c71818;}
ul.member-menu a:hover{ background-position: left -92px;color: #c71818;}   

.member-body{float: left;width: 737px;margin-left: 28px;color: #666;}
.member-body h2{ margin: 0;width:100%;font-size: 16px;color: #333;height:28px;line-height:28px;}
.member-body table.query-form{width:100%;border: 0;border-top: 1px dotted #ccc;list-style: none;padding: 0;margin: 0 0 5px 0;}
.member-body table.query-form td,.member-body table.query-form th{height: 24px;line-height: 24px;border-bottom: 1px dotted #ccc;background: #f8f8f8;}
.member-body table.query-form th{width: 150px;height:24px;padding: 0 10px 0 0;text-align: right;background: #eee;}
.member-body table.query-form p{color: #888;font-size: 11px;margin: 5px 0 12px 0;}

.member-list{margin:0px;padding:0px;margin-top:-2px;}
.member-list tr{width: 100%;}
.member-list td{text-align: center;vertical-align:middle; border: 1px solid #c9c9c9;height:55px;line-height:22px;padding:5px 0px;}
.member-list td p{height:22px;line-height:22px;margin:0px;padding:0px;font-size:12px;}
.member-list tr.header td{color: #fff;background:#666;border: 1px solid #ccc;height: 24px;line-height: 24px;font-size: 14px;}
.member-list td.no{width: 150px;}
.member-list td.time{width: 85px;}
.member-list td.pay{width: 105px;}
.member-list td.amt{width: 80px;}
.member-list td.status{width: 190px;}
.member-list td.status p{float:right;margin-right:15px;margin-bottom:8px;}
.member-list td.status input {width: 65px;margin-right:2px;}
.member-list td.cancel{width: 58px;}
.member-list td.return{width: 60px;}

/** coupon list **/
.member-list tr.red-header td{color: #fff;background: #c71818;border: 1px solid #cb9898;height: 24px;line-height: 24px;font-size: 12px;}
.member-list tr.cp-item td{height:24px;line-height:24px}
.member-list td.cp-date{width: 125px;}
.member-list td.cp-no{width: 125px;}
.member-list td.cp-amt{width: 105px;}

/** customer message **/
.member-list tr.white-header td{color:#000;background: #fff;height: 24px;line-height: 24px;font-size: 12px;font-weight:bold}
.member-list tr.msg-item td{height:42px;}
.member-list td.msg-date{width: 145px;}
.member-list td.msg-subject{width: 417px;text-align: left;vertical-align:middle;padding-left:5px;}

.member-list td.msg-status{width: 85px;}
.member-list td.msg-delete{width: 85px;}
.read, .unread {display:block;width: 16px;height: 17px;text-indent: -9999px;background: url(../images/orders-sprite.png) no-repeat 0 -530px;margin: 10px auto;}
.unread {background-position: -20px -530px;}

tr.msg-count td{height:24px;line-height:24px;background: #f8f8f8;padding:5px 15px;text-align:left;}
tr.msg-count span{width:337px;float:left;}
tr.msg-count span.last{text-align:right;width:338px;}


.member-body .questionBox{width:701px;border:1px solid #ccc;border-top:2px solid #ccc;background:#f8f8f8;margin:0 0 7px 0;padding:15px;line-height:20px;}
.member-body .answerBox{background:#fff;border:1px solid #ccc;border-top:2px solid #ccc;width:701px;margin:0 0 7px 0;padding:15px;line-height:20px;}
.member-body .postTime{color:#d13a36;}
.member-body .postTitle{color:#3d4042;font-weight: bold;margin-bottom:10px;}
.msg-dtl .btn-line{margin-left:250px;margin-top:15px;}
.msg-dtl .btn-line a.prev{float:left;width:64px;height:20px;background:url(../images/r_prevButton.gif) 0 0 no-repeat;display:inline-block;text-indent:-9999px;}
.msg-dtl .btn-line a.next{float:left;width:64px;height:20px;background:url(../images/r_nextButton.gif) 0 0 no-repeat;display:inline-block;text-indent:-9999px;}
.msg-dtl .btn-line a.back{float:left;width:74px;height:20px;background:url(../images/r_backToList.gif) 0 0 no-repeat;display:inline-block;text-indent:-9999px;}


/** tracking list**/
.member-list tr.track-item td{height: 100px;line-height:18px;}
.member-list td.tk-date{width: 140px;}
.member-list td.tk-photo{width: 125px;}
.member-list td.tk-name{width: 145px;}
.member-list td.tk-name p{line-height: 18px;}
.member-list td.tk-price{width: 120px;}
.member-list td.tk-stock{width: 100px;}
.member-list td.tk-tool{width: 100px;}
.member-list td.tk-tool p{line-height: 18px;}

/** member form **/
ul.account-form{ border: 1px solid #DDDDDD;min-height: 40px;padding: 15px;}
ul.account-form li{background: #eee;margin: 0 auto 10px auto;padding: 12px 20px 8px 20px;}
ul.account-form li label{width:60px;float:left;}
ul.account-form li p{height:40px;line-height:40px;}

/**change password form **/
.pwd-form{width:400px;margin-left:150px;}
/**account auth form **/
.auth-form{width:370px;margin-left:170px;}
.auth-form ul.account-form li label{width:130px;}

/** account email form**/
.email-form{width:360px;margin-left:170px;}
.email-form h2{text-align:center;font-size:16px;margin:0px;padding:0px;}
.email-form span.email{text-decoration: underline;}
/** account modify form **/
.info-form table {color: #000;}
.info-form th {padding: 8px 16px 8px 0;text-align: right;width: 140px;color: #000;font-size: 12px;font-weight: normal;border: 1px solid #ddd;background: #f1f2f6;height: auto;}
.info-form td {text-align: left;border: 1px solid #ddd;padding: 0 5px 0 10px;}
/*.info-form input[type="text"] {border: 1px solid #ddd;}*/
.info-form .note {color: #858585;font-size: 11px;line-height: 20px;background:none;border:none;}
.info-form .email input {width: 165px;float: left;margin: 6px 5px 30px 0;}
.info-form .intr p {margin: 8px 0;}
.info-form .intr input {margin: 0 0 0 8px;}
/** member modify done page **/
.member-body .msg-box{width:350px;height:200px;margin-left:170px;}
.member-body .msg-box li{padding-top:35px;padding-bottom:25px;}
.member-body .msg-box p{text-align:center;}






/** order detail **/
.member-body .order-no{height: 32px;color: #333;margin:0px;padding:0px;}

.member-list tr.order-item td{height: 110px;vertical-align:middle;}
.member-list td.ord-photo{width: 135px;}
.member-list td.ord-name{width: 240px;}
.member-list td.ord-name p{line-height: 18px;display:inline-block;}
.member-list td.ord-name a{text-decoration: underline;}
.member-list td.ord-price{width: 155px;}
.member-list td.ord-quantity{width: 100px;}
.member-list td.ord-total{width: 101px;}
.member-body p.coupon{line-height: 28px;text-align:left;margin:10px;}
.member-body .order-pay{margin-bottom:20px;}
.member-body .order-pay {color: #3d4042;font-size: 12px;width: 100%;line-height: 30px;border: 1px solid #ddd;}
.member-body .order-pay .odd {background: #efefef;}
.member-body .order-pay td { border-right: 1px solid #ddd;border-bottom: 1px solid #ddd; height: 30px;}
.member-body .order-pay label{float: left;width: 100px;text-align: right;}

/** order cancel **/
.contact-box{ margin: 0 0 24px 0;}
.contact-box h2{ margin: 0;font-size: 16px;color: #333;}
.contact-box .contacter{min-height: 56px;padding: 17px 5px 17px 17px;border: 1px solid #ddd;}
.contact-box .contacter p{margin-bottom:20px;}
.contact-box textarea{width:98%;margin-top:10px;}

