/* reset CSS START */ 

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-size: 100%; 
    vertical-align: baseline; 
    background: transparent; 
} 
body { 
    line-height: 1; 
} 
ol, ul { 
    list-style: none; 
} 
blockquote, q { 
    quotes: none; 
} 
blockquote:before, blockquote:after, 
q:before, q:after { 
    content: ''; 
    content: none; 
} 

/* remember to define focus styles! */ 
:focus { 
    outline: 0; 
} 

/* remember to highlight inserts somehow! */ 
ins { 
    text-decoration: none; 
} 
del { 
    text-decoration: line-through; 
} 

/* tables still need 'cellspacing="0"' in the markup */ 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
/* reset CSS END */ 

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Verdana, 新細明體;
	font-size: 12px;
	color: #333333;
}
a:link {
	color: #555;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #555;
}
a:hover {
	text-decoration: none;
	color: #609CD8;
}
a:active {
	text-decoration: none;
	color: #609CD8;
}
.login_bg_01 {
	background: url(../images/login2_bg_01.jpg);
	width: 340px;
	text-align: center;
	height: 700px;
	vertical-align: top;
}
.login_bg_01-1 {
	background: url(../images/login2_bg_01-1.jpg);
}

.login_bg_02 {
	background: url(../images/login2_bg_02.jpg);
	width: 320px;
	text-align: center;
	vertical-align: text-top;
	height: 700px;
}

.login_bg_03 {
	background: url(../images/login2_bg_03.jpg);
	width: 340px;
	height: 700px;
}
.loginbtn {
	background-image: url(../images/login2_01.png);
	text-align: center;
	height: 50px;
	width: 250px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor:pointer;
}
.loginbtn:hover {
	background-image: url(../images/login2_01_o.png);
	text-align: center;
	height: 50px;
	width: 250px;
	background-repeat: no-repeat;
	background-position: center center;
}

.login_bg_03-1 {
	background: url(../images/login2_bg_03-1.jpg);
}

.login_01 {
	height: 250px;
}


.input_login {
	width: 100%;
	font-size:14px;
}
.w_265 {
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.select_login {
	width: 270px;
	height: 22px;
	font-size: 11px;
}



.h_30 {
	height: 30px;
}
.h_35 {
	height: 35px;
}


.h_40 {
	height: 40px;
	text-align: right;
	width: 20%;
	line-height: 15px;
}
.h_60 {
	width: 80%;
	text-align: left;
}

.h_p-1 {
	height: 155px;
}

.bg_password {
	background-image: url(../images/bg_password.jpg);
	background-repeat: no-repeat;
}
.input_password {
	width: 160px;
}
.h_75 {
	height: 75px;
	text-align: center;
}
.alctr {
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
.btn {
	cursor: pointer;
}
td span {
	padding:4px 0;
	color: #F00;
	display:block;
	margin-bottom:10px;
}