input,textarea{font-family: "微軟正黑體", "新細明體", Verdana;font-size:12px;}
input.number{text-align:right;}
textarea{width:100%;}
button.ui-datepicker-trigger{background:none;border:none;}
body {
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	background-color: rgb(0, 150, 222);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
h2{font-size:14px;font-weight:bold;}
div.right{min-height:500px;margin: 0px; padding: 15px 10px 0px; width: 780px; float: left; background-color: #fff;
	

}
.logo {
	background-position: left;
	width: 970px;
	height: 80px;
	text-align: right;
	overflow: hidden;
	padding-right: 20px;
	padding-top:0px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-color: #3b3c40;
}
.logo a {
	padding-left: 5px; margin-top: 30px; float: right;
}


.iconBtn { display:inline-block;width: 16px; height: 16px; background-image: url(../images/jquery.ui.datepicker.theme/ui-icons_cd0a0a_256x240.png); }
.iconBtnAdd{ background-position: 0 -192px; }
.iconBtnDelete{background-position: -32px -192px; }

.colorSpan{float:left;width:100px;overflow:hidden;height:22px;line-height:22px;}
.styleSpan{float:left;width:60px;overflow:hidden;height:22px;line-height:22px;}

.pager{text-align:center;}					
.pager a,.pager span{margin:2px;width:20px;border:1px solid #666;color:#666;padding:1px 3px;}
.pager span{background:#666;color:#fff;}
form.hiddenForm{margin:0;padding:0;float:left;}
a.button{	
	background-color:#ccc;
	//-moz-border-radius: 5px; /* Firefox */
	//-webkit-border-radius: 5px; /* Safari, Chrome */
	//-khtml-border-radius: 5px; /* Konqueror */
	//border-radius: 5px; /* Opera 10.50 and later (CSS3 standard) */
	//behavior: url(border-radius.htc); /* IE6, IE7, IE8 */		
	height:20px;line-height:20px;font-size:12px;border-top:solid 1px #666;border-left:solid 1px #666;border-bottom:solid 2px #666;border-right:solid 2px #666;
	padding-left:15px;padding-right:15px;padding-top:2px;padding-bottom:2px;margin-left:2px;margin-right:2px;color:#666;
}
a.button:hover{border:solid 1px #333;color:#000;border-top:solid 2px #666;border-left:solid 2px #666;border-bottom:solid 1px #666;border-right:solid 1px #666;}

.form-table{margin: 0px;width: 100%; line-height: 20px; font-family: "微軟正黑體", "新細明體", Verdana;}
.form-table .header th,.form-table .header td{background:gray;color: #fff;}
.form-table th{text-align:right;vertical-align:top;width:150px;padding: 6px; font-size: 12px;color:#000; font-weight: bold; }
.form-table td{text-align:left;vertical-align:top;padding: 8px 8px 5px; font-size: 12px; /*border-bottom:1px #09F solid;*/}
.form-table tr:nth-child(even) {background: rgb(240, 240, 240);}
.form-table tr:nth-child(odd) {background: #F1F6FD;}
.form-table td.btn-line{border-bottom:none;text-align:center; background:#fff;}

input.imageGallery{width:60%;}


.list-table{
	margin: 0px;
	width: 780px;
	text-align: center;
	line-height: 20px;
	clear: both;
	background-color: #fff;
	font-family: "微軟正黑體", "新細明體", Verdana;
	padding: 0px;	
	
}
.list-table th {
	background-position: top;margin:0px;
	padding: 5px;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	border-right:#F1F9FE 1px solid; 
	border-bottom: #fff 1px solid;
	background-image: url("../images/bg_b.jpg"); background-repeat: repeat-x;
}
.list-table td {
	text-align:center;
	padding: 8px 8px 5px;
	font-size: 12px;
	border-right:#FFF 1px solid;
	border-bottom:#09F 1px solid;
}

.list-table td.btn-line{border-bottom:none;text-align:center;}
.w50{width:50px;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;}
.w150{width:150px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}

.text-center{text-align:center;}
.text-right{text-align:right;}